doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='dns-prefetch' href='//fonts.gstatic.com')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
style.
  @font-face {
  font-family: 'Proxima Nova';
  src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575309825/Proxima-Nova-Semibold_zwrv59.woff') format('woff');
  font-weight: 400;
  }
  @font-face {
  font-family: 'Proxima Nova';
  src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575308703/Proxima-Nova-Regular_pwdudb.woff') format('woff');
  font-weight: 200;
  }
  @font-face {
  font-family: 'Proxima Nova';
  src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575309130/Proxima-Nova-Light_fycxee.woff') format('woff');
  font-weight: 100;
  }
div
  center
    table(cellpadding='0' cellspacing='0')
      tr
        td
          div(style='padding:10%; background-color: #ffffff; max-width: 540px; width: 100%;')
            div(style='margin-bottom: 20px;')
              a(href='#' style='text-decoration: none;')
                img(src='https://res.cloudinary.com/drsp4xifi/image/upload/v1575309384/black-logo_tvzair.png' height='29px')
            div
              p(style="color:#434343; font-size: 18px; line-height: 150%; text-align: justify;font-family: 'Proxima Nova', sans-serif; font-weight: 200;")
                | <div> !{description} </div>
              div(style='margin: 38px 0')
              p(style="margin: 0;line-height: 150%; padding-bottom: 1rem; font-weight: 100; font-size: 12px; font-weight: 100; letter-spacing: -0.002em; margin-bottom: 0.5rem;font-family: 'Proxima Nova', sans-serif; color: #767676; border-bottom: solid 1px #F0F3F7;")
                | #{footer}
            .footer
              div(style="margin-top: 1rem;font-family: 'Proxima Nova', sans-serif;")
                p(style='color: #767676; font-size: 10px; font-weight: 100;')
                  | This email was sent to you as a registered member of goodtalent.io. Use of the service and website is subject to our 
                  a(href='#' style='color: #C85310; text-decoration: none;') Terms of Use
                  |  and 
                  a(href='#' style='color: #C85310; text-decoration: none;')  Privacy Statement.
                div
                  div(style='color: #767676; font-size: 10px; font-weight: 100; display: inline-block;')
                    | Customer Success | Goodtalent  
                    span(style='color: #767676; font-size: 10px; font-weight: 100;')
                      span(style='color: #767676; font-size: 15px; font-weight: 100; margin: 0 10px') |
                      | good@goodtalent.io
                  div(style=' text-align: right; float: right')
                    a(href='#' style='text-decoration: none;')
                      i.fab.fa-instagram(style='padding-right:1.7rem; color: #C85310;')
                    a(href='#' style='text-decoration: none;')
                      i.fab.fa-twitter(style='padding-right:1.7rem; color: #C85310;')
                    a(href='#' style='text-decoration: none;')
                      i.fab.fa-facebook(style='color: #C85310;')
                p(style='color: #767676; font-size: 10px; font-weight: 100;')
                  | Copyright &copy; 2019 Goodtalent. All rights reserved
